body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	background: #1f1d36;
}
:focus {
	outline: 0;
}
input,
button {
	background: #864879;
	color: #e9a6a6;
	font-family: 'Poppins';
	font-size: 2rem;
	border: 0;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

button {
	cursor: pointer;
}

::placeholder {
	color: #e9a6a6;
}
/* O pulo do Gato, kkkkkkkkkkkkk */
input[type='number'] {
	-moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
